input.standart {
    height: 32px;
    border-radius: 3px;
    padding: 12px;
    font: 13pt;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
